In [2]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv("HR-Employee-Attrition.csv")
display(df)
display(list(df.columns))
display(df.info())

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

['Age',
 'Attrition',
 'BusinessTravel',
 'DailyRate',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'EmployeeCount',
 'EmployeeNumber',
 'EnvironmentSatisfaction',
 'Gender',
 'HourlyRate',
 'JobInvolvement',
 'JobLevel',
 'JobRole',
 'JobSatisfaction',
 'MaritalStatus',
 'MonthlyIncome',
 'MonthlyRate',
 'NumCompaniesWorked',
 'Over18',
 'OverTime',
 'PercentSalaryHike',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StandardHours',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager']

<class 'pandas.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   str
 2   BusinessTravel            1470 non-null   str
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   str
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   str
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   str
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   str
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   str
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   str
 22  OverTime                  1470 non-null   str
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), str(9)
memory usage: 402.1 KB

None

In [3]:
#Cleaning stage

df_clean = df.drop(columns=["EmployeeCount","StandardHours", "Over18"])



display(df_clean)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,2,3,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,4,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,5,4,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,7,1,...,3,4,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,2061,3,...,3,3,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,2062,4,...,3,1,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,2064,2,...,4,2,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,2065,4,...,3,4,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,2068,2,...,3,1,0,6,3,4,4,3,1,2

In [4]:
# Transform stage - Feature engineering

# Is Turnover
df_clean["IsTurnover"] = np.where(df_clean["Attrition"]=="Yes", 1, 0)

# Age Band
df_clean["AgeBand"] = pd.cut(
    df_clean["Age"], 
    bins=[18, 30, 40, 65], 
    labels=["<30", "30-40", "40+"]
    )

# Ternure Band
df_clean["TenureBand"] = pd.cut(
    df_clean["YearsAtCompany"],
    bins=[-1, 1, 3, 5, 10, 40],
    labels=["<1", "1-3", "3-5", "5-10", "10+"]
)

# Distance Band
df_clean["DistanceBand"] = pd.cut(
    df_clean["DistanceFromHome"],
    bins=[0, 5, 10, 20, 30],
    labels=["Very Near", "Near", "Medium", "Far"]
    )

# Promotion Gap Band
df_clean["PromotionGapBand"] = pd.cut(
    df_clean["YearsSinceLastPromotion"],
    bins=[-1, 1, 3, 5, 10, 15],
    labels=["Recent", "1-3", "3-5", "5-10", "10+"]
)

# Standard Satisfaction Scale (1–4)
satisfaction_map = {
    1: "Low",
    2: "Medium",
    3: "High",
    4: "Very High"
}

df_clean["JobSatisfactionLabel"] = df_clean["JobSatisfaction"].map(satisfaction_map)
df_clean["EnvironmentSatisfactionLabel"] = df_clean["EnvironmentSatisfaction"].map(satisfaction_map)
df_clean["RelationshipSatisfactionLabel"] = df_clean["RelationshipSatisfaction"].map(satisfaction_map)

# Worklife Balance Scale
worklife_map = {
    1: "Poor",
    2: "Fair",
    3: "Good",
    4: "Excellent"
}

df_clean["WorklifeBalanceLabel"] = df_clean["WorkLifeBalance"].map(worklife_map)

# Job Satisfaction Risk (1–4)
# Lower satisfaction = higher risk

df_clean["JobSatisfactionRisk"] = 1 - (df_clean["JobSatisfaction"] / 4)

# Work-Life Balance Risk (1–4)
# Poor balance = higher risk

df_clean["WorklifeRisk"] = 1 - (df_clean["WorkLifeBalance"] / 4)


# Tenure Risk (Years at Company)
# Shorter tenure = higher risk

df_clean["TenureRisk"] = np.where(
    df_clean["YearsAtCompany"] < 2, 1,
    np.where(df_clean["YearsAtCompany"] < 5, 0.5, 0.2)
)

# Overtime Risk
# Overtime = higher risk

df_clean["OvertimeRisk"] = np.where(
    df_clean["OverTime"] == "Yes", 1, 0
)

# Distance from Home Risk
# Longer distance = higher risk

df_clean["DistanceRisk"] = np.where(
    df_clean["DistanceFromHome"] > 20, 1,
    np.where(df_clean["DistanceFromHome"] > 10, 0.5, 0.2)
)

# Promotion Gap Risk
# Long time without promotion = higher risk

df_clean["PromotionGapRisk"] = np.where(
    df_clean["YearsSinceLastPromotion"] >= 5, 1,
    np.where(df_clean["YearsSinceLastPromotion"] >= 2, 0.5, 0.2)
)

# Job Level Risk
# Lower job level = higher risk

df_clean["JobLevelRisk"] = 1 - (
    df_clean["JobLevel"] / df_clean["JobLevel"].max()
)


# TURNOVER RISK SCORE (0–100)
# Weighted composite score

df_clean["TurnoverRiskScore"] = (
    df_clean["JobSatisfactionRisk"] * 0.25 +
    df_clean["WorklifeRisk"] * 0.20 +
    df_clean["TenureRisk"] * 0.15 +
    df_clean["OvertimeRisk"] * 0.15 +
    df_clean["DistanceRisk"] * 0.10 +
    df_clean["PromotionGapRisk"] * 0.10 +
    df_clean["JobLevelRisk"] * 0.05
) * 100


# TURNOVER RISK LEVEL (BUCKETS)

df_clean["TurnoverRiskLevel"] = pd.cut(
    df_clean["TurnoverRiskScore"],
    bins=[0, 30, 60, 100],
    labels=["Low Risk", "Medium Risk", "High Risk"]
)

display(df_clean)

display(list(df_clean.columns))

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,WorklifeBalanceLabel,JobSatisfactionRisk,WorklifeRisk,TenureRisk,OvertimeRisk,DistanceRisk,PromotionGapRisk,JobLevelRisk,TurnoverRiskScore,TurnoverRiskLevel
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,...,Poor,0.00,0.75,0.2,1,0.2,0.2,0.6,40.00,Medium Risk
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,2,3,...,Good,0.50,0.25,0.2,0,0.2,0.2,0.6,27.50,Low Risk
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,4,...,Good,0.25,0.25,1.0,1,0.2,0.2,0.8,49.25,Medium Risk
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,5,4,...,Good,0.25,0.25,0.2,1,0.2,0.5,0.8,40.25,Medium Risk
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,7,1,...,Good,0.50,0.25,0.5,0,0.2,0.5,0.8,36.00,Medium Risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,2061,3,...,Good,0.00,0.25,0.2,0,1.0,0.2,0.6,23.00,Low Risk
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,2062,4,...,Good,0.75,0.25,0.2,0,0.2,0.2,0.4,32.75,Medium Risk
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,2064,2,...,Good,0.50,0.25,0.2,1,0.2,0.2,0.6,42.50,Medium Risk
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,2065,4,...,Fair,0.50,0.50,0.2,0,0.2,0.2,0.6,32.50,Medium Risk
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,2068,2,...,Excellent,0.25,0.00,0.5,0,0.2,0.2,0.6,20.75,Low Risk

['Age',
 'Attrition',
 'BusinessTravel',
 'DailyRate',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'EmployeeNumber',
 'EnvironmentSatisfaction',
 'Gender',
 'HourlyRate',
 'JobInvolvement',
 'JobLevel',
 'JobRole',
 'JobSatisfaction',
 'MaritalStatus',
 'MonthlyIncome',
 'MonthlyRate',
 'NumCompaniesWorked',
 'OverTime',
 'PercentSalaryHike',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager',
 'IsTurnover',
 'AgeBand',
 'TenureBand',
 'DistanceBand',
 'PromotionGapBand',
 'JobSatisfactionLabel',
 'EnvironmentSatisfactionLabel',
 'RelationshipSatisfactionLabel',
 'WorklifeBalanceLabel',
 'JobSatisfactionRisk',
 'WorklifeRisk',
 'TenureRisk',
 'OvertimeRisk',
 'DistanceRisk',
 'PromotionGapRisk',
 'JobLevelRisk',
 'TurnoverRiskScore',
 'TurnoverRiskLevel']

In [5]:
import re

df_clean.columns = [
    re.sub('([a-z0-9])([A-Z])', r'\1_\2', col).lower()
    for col in df_clean.columns
]

display(df_clean.columns.tolist())
display(df_clean.head())

['age',
 'attrition',
 'business_travel',
 'daily_rate',
 'department',
 'distance_from_home',
 'education',
 'education_field',
 'employee_number',
 'environment_satisfaction',
 'gender',
 'hourly_rate',
 'job_involvement',
 'job_level',
 'job_role',
 'job_satisfaction',
 'marital_status',
 'monthly_income',
 'monthly_rate',
 'num_companies_worked',
 'over_time',
 'percent_salary_hike',
 'performance_rating',
 'relationship_satisfaction',
 'stock_option_level',
 'total_working_years',
 'training_times_last_year',
 'work_life_balance',
 'years_at_company',
 'years_in_current_role',
 'years_since_last_promotion',
 'years_with_curr_manager',
 'is_turnover',
 'age_band',
 'tenure_band',
 'distance_band',
 'promotion_gap_band',
 'job_satisfaction_label',
 'environment_satisfaction_label',
 'relationship_satisfaction_label',
 'worklife_balance_label',
 'job_satisfaction_risk',
 'worklife_risk',
 'tenure_risk',
 'overtime_risk',
 'distance_risk',
 'promotion_gap_risk',
 'job_level_risk',
 'turnover_risk_score',
 'turnover_risk_level']

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_number,environment_satisfaction,...,worklife_balance_label,job_satisfaction_risk,worklife_risk,tenure_risk,overtime_risk,distance_risk,promotion_gap_risk,job_level_risk,turnover_risk_score,turnover_risk_level
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,...,Poor,0.00,0.75,0.2,1,0.2,0.2,0.6,40.00,Medium Risk
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,2,3,...,Good,0.50,0.25,0.2,0,0.2,0.2,0.6,27.50,Low Risk
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,4,...,Good,0.25,0.25,1.0,1,0.2,0.2,0.8,49.25,Medium Risk
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,5,4,...,Good,0.25,0.25,0.2,1,0.2,0.5,0.8,40.25,Medium Risk
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,7,1,...,Good,0.50,0.25,0.5,0,0.2,0.5,0.8,36.00,Medium Risk

In [ ]:

df_clean.to_csv('HR-Employee-Attrition_processed.csv', index=False)

✅ Dados tratados salvos!